/* Estilos base del proyecto */
@use './variables' as vars; // Importamos el archivo de variables

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    color: vars.$text-color; // Variable para el color del texto
    position: absolute;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    color: vars.$primary-color; // Variable para el color primario
}

p {
    font-size: 1em;
    color: vars.$secondary-color; // Variable para el color secundario
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}