@use './variables' as vars; // Importamos el archivo de variables

footer {
    background-color: vars.$footer-background-color;
    color: vars.$footer-text-color;
    padding: vars.$footer-padding;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-content {
        display: flex;
        justify-content: space-around;
        width: 80%;
        flex-wrap: wrap;

        div {
            margin: vars.$footer-content-margin;
            text-align: center;
        }

        a {
            color: vars.$footer-link-color;
            text-decoration: none;
            margin: vars.$footer-link-margin;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            margin: vars.$footer-paragraph-margin;
            font-family: 'Barlow', sans-serif;
            font-weight: 300;
        }
    }
}